*{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar{
    /* background-color: rgb(217,4,41); */
    color:rgb(237,242,244);
    background-image: linear-gradient(rgb(217,4,41), #2b2d42);
}
.resource{
    background-color: rgb(217,4,41);
    color: rgb(237,242,244);
    border: 2px solid black;
    border-radius: 4px;
}
.slot2{
    align-self: flex-start;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.team1-2, .team3-4, .team5-6{
    gap: 5px;
    margin-bottom: 10px;
}



.monborder {
    border: 2px solid rgb(43,45,66);
    border-radius: 4px;
    width: 180px;
    height: 140px;
    margin-bottom: 5px;
}
.starter{
    font-size: smaller;
    max-height: 20px;
}

#tradstart{
    font-size: small;
}

.typelabel{
    max-height: 20px;
    margin: 5px 0px;
}
.btn1, .type1btn{
    margin-top: 5px;
}
.montype{
    border: 2px solid rgb(43,45,66);
    background-color: rgb(237,242,244);
    border-radius: 4px;
    min-height: 105px;
    max-width: 160px;
    margin: 0 auto;
}
.buttons{
    margin-top: 15px;
    
}

.mon1btn{
    margin-top: 5px;
}

.finalbtn{
    margin: 10px 0px;
    background-color: rgb(217,4,41);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.finalbtn {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(141,153,174);
}

.finalbtn:hover {
    background-color: rgb(217,4,41);
    color: white;
    border-color: rgb(43,45,66);
}

.finalbtn:active {
    background-color: rgb(217,4,41);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.submit{
    margin: 10px 0px;
    background-color: rgb(217,4,41);
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 3px 6px;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(141,153,174);
}

.submit:hover {
    background-color: rgb(217,4,41);
    color: white;
    border-color: rgb(43,45,66);
}

.submit:active {
    background-color: rgb(217,4,41);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.pokeimage, .notFull {
    height: 100px;
    width: 100px;
}
.zardheader{
    width: 100x;
    height: 120px;
}

#darkzard{
    display: none;
    height:100px;
    width: 100px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#starter, #startype, #btn2{
    display: none;
}

a{
    color: #edf2f4;
}

.resoflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#umbreon{
    display: none;
}

#umbreon:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#espeon:hover{
    transform: scale(1.05, 1.05);
    transition: 2s;
    cursor: pointer;
}

.resolist, #umbreon, #espeon{
    margin:25px;
}

#error, #sada, #birch, #burnet{
    height: 250px;
    width: 250px;
}

/* The Modal (background) */
.modal, .error, .notfullmodal, .nonemodal, .finalerr {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content, .error-content, .notmodal-content, .nonemodal-content, .finalerr-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .errclose, .notfullmodal, .noneclose, .finalclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
.errclose:hover,
.errclose:focus,
.notclose:hover,
.notclose:focus,
.noneclose:hover,
.noneclose:focus,
.finalclose:hover,
.finalclose:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 1300px) { 
    .parallax {
        /* The image used */
        background-image: url(images/left.jpeg);
        display: none;
        /* Set a specific height */
        height: 100vh;
        min-width: 450px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    
    .parallax2{
        /* The image used */
    background-image: url(images/right.jpeg);
    display: none;
    /* Set a specific height */
    height: 100vh;
    min-width: 450px;
    
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .slot2{
        align-self: center;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1300px) {  
.parallax, .parallax2{
    display:block
    
}
.team1-2, .team3-4, .team5-6{
    gap: 50px;
    margin: 25px 25px;
}
}
/* // X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */